<!DOCTYPE html>
<head>
<title></title>
<meta CHARSET="UTF-8"></META>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="">
<h1>Radius</h1>
<input type="text" name="r" ng-model="r"><br>
</input>
Area of circle:{{3.14*r*r}}
</body>
</html>