<!DOCTYPE html>
<head>
<title></title>
<meta CHARSET="UTF-8"></META>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="" style="border:solid 1px black;">
		<h1>Radius</h1>
		<input type="text" name="r" ng-model="r"><br>
		</input>
		Area of circle:{{3.14*r*r}}
	
		<br>
		<div style="border:solid 1px black;">
			{{'Hello world!!!'}}
		</div>
		<br>
			<div ng-init="x=5;y=12;">
			Addition is:{{x + y}}
			</div><br>
			
			<div ng-init='weeks=["mon","tue","wed","thur","fri","sat","sun"]'>
			{{weeks[0]}}
			{{weeks[1]}}
			{{weeks[2]}}
			</div>
			<ul>
			<li ng-repeat="w in weeks">
			{{w}}
			</li>
			</ul>
	</div>
	<div style="border:solid 1px black;">
		only html
	</div>

</body>
</html>