<!DOCTYPE html>
<head>
<title></title>
<meta CHARSET="UTF-8"></META>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="" style="border:solid 1px black;">
	<fieldset>
	<legend>NG-Model</legend>
	<input type="text" name="mynum" id="mynum" ng-model="mynum">
	square of {{mynum}} is {{mynum*mynum}}.
	
	<div id="result" ng-bind="mynum"></div>
	</fieldset>
	</div>